@import "../../styles/variables";
@import "../../styles/mixins";

.billing {
  box-sizing: border-box;
  display: flex;
  padding: 65px 56px 107px 56px;
  @include displayFlex(flex-start, flex-start, column);
  flex: 1 1 auto;
  gap: 49px;

  &__title {
    font-size: 32px;
    font-weight: 700;
  }

  &__sections {
    @include displayFlex(flex-start, flex-start, row, nowrap);
    width: 100%;
    flex: 1 1 auto;
    gap: 72px;
  }
}
