// Colors

$white: #f8f8ff;
$light-grey: #f1f1fb;
$grey: #9292ae;
$dark-grey: #747399;
$blue: #393a62;
$red: #ea4c3c;
$pink: #dba09e;
$purple: #cbcbd9;
$light-purple: #e8e8fd;
$bold-text: #1a194d;
$text: #62618f;
