@import "_mixins.scss";

.main {
  @include displayFlex(flex-start, space-between, row);
  height: 100%;
  box-sizing: border-box;
  margin: 160px 140px;
  background: linear-gradient(304deg, #f8f8ff 0%, white 100%);
  box-shadow: 0px 49px 32px -19px rgba(55.56, 55.56, 149.81, 0.15);
  border-radius: 32px;
}

.background-rectangle {
  background-color: $red;
  position: absolute;
  left: 80px;
  top: 108px;
  width: 276px;
  border-radius: 46px;
  height: 1009px;
  z-index: -1;
}
