@import "../../../styles/_mixins";
@import "../../../styles/_variables";

.sub {
  @include displayFlex(flex-start, flex-start, column, nowrap);
  flex: 0 1 258px;
  box-sizing: border-box;
  gap: 20px;
  padding: 32px;
  height: 221px;
  border-radius: 16px;
  background: $red;
  box-shadow: 0px 8px 19px rgba(223.37, 223.37, 252.88, 0.6);

  &__title {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 7px 0;
  }

  &__type {
    @include displayFlex(flex-start, flex-start, column, nowrap);
    gap: 18px;

    &__subtitle {
      color: white;
      font-size: 24px;
      font-weight: 700;
    }

    &__date {
      color: white;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__button {
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 8px;
  }
}
